<configuration>
	<compositeWeb>
		<modules>
			<module name="Warrant" assemblyName="WarrantModule" virtualPath="~/ApplicationModule/WarrantModule/Election">
				<dependencies>
					<dependency module="Shell" />
				</dependencies>
			</module>
		</modules>
		<authorization>
			<!-- Add your own view-rule mappings here:
          e.g.:
              <rule Url="~/ApplicationModule/Default.aspx" Rule="AllowAccessApplicationModuleDefaultView" />
          -->
		</authorization>
	</compositeWeb>
	<appSettings/>
	<connectionStrings/>
	<system.web />
</configuration>
